// color variables
$redNormal:#FF6565;
$redActive: #F32727;
$darkBlue:#43425D;
$purpleActive:#2F2E50;
$purpleDisaled:#838296;
$white: #FFFFFF;
$blueNormal:#3B86FF;
$blueActive:#1062E5;
$blueDisabled:#79ACFF;
$greenNormal:#4AD991;
$checkBoxColor: #808495;
$darkPurple:#4D4F5C;
$lightgrey:#F5F6FA;
$grey:#808080;
//size variables - percentage
$percentage: 100%;
//font size 
$mainFont: 15px;